<%= form_for(User.new, url: login_path, html: {class: 'form-signin'}) do |f| %>
    <h2 class="form-signin-heading">Authentication</h2>
    <div class="input-group">
        <div class="input-group-addon">@</div>
        <%= f.text_field :username, class: "form-control", value: @user.username -%>
    </div>
    <div class="form-group">
        <%= f.select :dialect,
        User::DIALECTS.map { |value| [ value.capitalize, value ] },
        {}, {class: "form-control"} %>
    </div>
    <%= f.submit "Enter", class: "btn btn-large btn-primary btn-block" %>

<% end %>
